@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Readex+Pro:wght@200;300;400;500;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

*{
  font-family: 'Readex Pro', sans-serif;
}


/* Navbar */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav .nav-button {
  color: rgb(222, 109, 46);
  background-color: #fff;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

nav .nav-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

nav .logo-container {
  width: 170px;
  margin: 15px;
  background: transparent;
  border: transparent;
  cursor: pointer;
  
}



nav .logo-container .logo {
  width: 100%;
}

nav .button-container {
  margin: 30px;
}

nav .search-container {
  margin-top: 45px;
  margin-bottom: 0px;
  display: flex;
  position: absolute;
  left: 200px;
}

.search-icon-container {
  margin-top: 10px;
  margin-right: 10px;
}


.search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  width: 300px;
  margin-right: 10px;
  border-radius: 10px;
  height: 20px;
}



/* Home */

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;

  background: linear-gradient(to bottom,
      rgb(222, 109, 46) 10%,
      rgb(255, 255, 255) 115%)
}

.home {
  margin-top: 30vh;
}

.slogan {

  font-size: 90px;
  color: white;
}

.jingle {
  letter-spacing: 0.2em;
  font-style: italic;
}

.main-mission {
  color: white;
}

.start-button {
  margin: 70px;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  background: linear-gradient(45deg, rgb(228, 131, 79), rgb(222, 109, 46));
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.start-button:hover {
  background: linear-gradient(260deg, rgb(228, 131, 79), rgb(222, 109, 46));
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Auth */

.auth {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}

.auth .x-icon {
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  font-family: sans-serif;
  float: right;
  cursor: pointer;
}

.auth .x-icon:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.auth form {
  display: flex;
  flex-direction: column;
}

.auth input[type=password],
.auth input[type=email] {
  margin: 15px 0;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid lightgray;
}

.secondary-button {
  color: rgb(222, 109, 46);
  background-color: #fff;
  font-weight: 500px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(222, 109, 46);
  margin: 6px;
  cursor: pointer;
  transition-duration: 0.4s;
}

/* Product List */

.card-container {
  position: relative;
  border: 2px solid rgb(222, 109, 46);
  display: inline-block;
  width: 700px;
  height: 500px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.card-img-container {
  margin-bottom: 20px;
}

.price-alert {
  position: absolute;
  top: 75%;
  left: 65%;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: linear-gradient(45deg, rgb(228, 131, 79), rgb(222, 109, 46));
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}

.card-price {
  font-size: 30px;
}

.card-name {
  margin: 20px;
}

.card-container:hover {
  .card-img {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .price-alert {
    background: linear-gradient(260deg, rgb(228, 131, 79), rgb(222, 109, 46));
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
}